.grid-container {
    display: grid;
    gap: 4px;
    max-height: 80vmin;
    width: calc(80vmin - 100px);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

.grid-container div::before {
    content: "";
    padding-top: 100%;
    display: block;
}

.grid-item {
    align-self: center;
    border-radius: 12px;
}